<%- layout('layouts/boilerplate') %>
<form action="/subjects/<%=subject.id%>/testbanks" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="testbank[name]" id="name" required />
  <br /><br />
  <label for="link">Link: </label>
  <input type="text" name="testbank[link]" id="link" required />
  <br /><br />
  <button>Add</button>
</form>
<a href="/subjects/<%=subject.id%>">back</a>
