@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.subjectsOl li a {
    transition: 0.2s;
}

.subjectsOl li a:hover {
    background-color: #484848;
}

.currentUser {
    margin: 1em 0;
    display: flex;
    align-items: center;
    gap: 1em;
}

.deleteForm {
    display: inline-block;
    margin-bottom: 1em;
}