<%- layout('layouts/boilerplate') %>
<form action="/secretSignInPath/6565/signin" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" required /><br />
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required /><br />
  <button>Sign in</button>
</form>
<a href="/secretSignInPath/6565/signup" method="GET">Create an account</a>
<br />
<a href="/subjects" method="GET">Subjects</a>
