<%- layout('layouts/boilerplate') %>
<form action="/secretSignInPath/6565/signup" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="users[email]" id="email" required /><br />
  <label for="username">Username: </label>
  <input type="text" name="users[username]" id="username" required /><br />
  <label for="password">Password: </label>
  <input type="password" name="users[password]" id="password" required /><br />
  <button>Sign up</button>
</form>
<a href="/secretSignInPath/6565/signin" method="GET">Already have an account?</a>
